---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Skills from '../components/Skills.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Bienvenidos a mi CV">

	<main>
		<div class="hidden-word  bottom-0 left-0 right-0 text-center py-4 bg-gray-800 text-white">
            Scroll
        </div>
		
		<Header />
	
		<Skills />
		<div class="relative">
			<div class="sticky top-0 flex h-screen items-center justify-center">
				<img src="spbgscro1.jpg" class="h-full w-full object-cover" />
				<div class="absolute left-0 right-0 m-auto flex w-2/4 flex-col items-start justify-center gap-4 p-10 backdrop-blur-xl">
					<h2 class="text-2xl font-bold">Confidencialidad: "La mejor manera de mantener un secreto es no contárselo a nadie." - Salustio</h2>
					<p class="font-sans text-lg text-white">Mantén la información sensible protegida y limita su acceso solo a quienes realmente la necesiten.</p>
				</div>
			</div>
			
			<div class="sticky top-0 flex h-screen items-center justify-center">
				<img src="spbgscro2.jpg" class="h-full w-full object-cover" />
				<div class="absolute left-0 right-0 m-auto flex w-2/4 flex-col items-start justify-center gap-4 p-10 backdrop-blur-xl">
					<h2 class="text-2xl font-bold text-white">Integridad: "La integridad y la honestidad son mucho más importantes que cualquier ley o regla." - Confucio</h2>
					<p class="font-sans text-lg text-white">Asegúrate de que la información no sea alterada de manera no autorizada y mantén la exactitud de los datos.</p>
				</div>
			</div>
			
			<div class="sticky top-0 flex h-screen items-center justify-center">
				<img src="spbgscro3.jpg" class="h-full w-full object-cover" />
				<div class="absolute left-0 right-0 m-auto flex w-2/4 flex-col items-start justify-center gap-4 p-10 backdrop-blur-xl">
					<h2 class="text-2xl font-bold text-white">Disponibilidad: "Lo más importante en la comunicación es escuchar lo que no se dice." - Peter Drucker</h2>
					<p class="font-sans text-lg text-white">Garantiza que los recursos y servicios estén disponibles cuando se necesiten y evita interrupciones no planificadas.</p>
				</div>
			</div>
			
			<div class="sticky top-0 flex h-screen items-center justify-center">
				<img src="spbgscro4.jpg" class="h-full w-full object-cover" />
				<div class="absolute left-0 right-0 m-auto flex w-2/4 flex-col items-start justify-center gap-4 p-10 backdrop-blur-xl">
					<h2 class="text-2xl font-bold text-white">Autenticación: "Conócete a ti mismo." - Sócrates</h2>
					<p class="font-sans text-lg text-white">Verifica la identidad de los usuarios y sistemas para prevenir accesos no autorizados y proteger la información.</p>
				</div>
			</div>		
			
		</div>
		<Footer />
		
	</main>
</Layout>
