<footer class="p-4 bg-white rounded-lg shadow md:px-1 md:py-8 dark:bg-gray-800">
    <div class="flex flex-wrap justify-center">
        
        <a href="https://astro.build/" target="_blank" class="flex items-center mb-4 mx-2">
            <div class='w-10'>
                <img src="astro.svg" alt="Desarrollos modernos con Astro">
            </div>
        </a>
        
        <a href="https://tailwindcss.com/" target="_blank" class="flex items-center mb-4 mx-2">
            <div class='w-10'>
                <img src="tailwind.svg" alt="Tailwind CSS el futuro del css">
            </div>
        </a>

        <a href="https://vuejs.org/" target="_blank" class="flex items-center mb-4 mx-2">
            <div class='w-10'>
                <img src="Vue.svg" alt="Desarrollo de componentes con vue.js">
            </div>
        </a>


        <a href="https://nodejs.org/en" target="_blank" class="flex items-center mb-4 mx-2">
            <div class='w-10'>
                <img src="node.svg" alt="Potencia y rápidez con nodejs">
            </div>
        </a>

        <a href="https://www.npmjs.com/" target="_blank" class="flex items-center mb-4 mx-2">
            <div class='w-10'>
                <img src="npm.svg" alt="Gestor de Paquetes con npm">
            </div>
        </a>
    

        <a href="https://archlinux.org/" target="_blank" class="flex items-center mb-4 mx-2">
            <div class='w-12'>
                <img src="arch.svg" alt="ArchLinux el poder de la libertad">
            </div>
        </a>
        
    </div>
    
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com" target="_blank" class="hover:underline">Octopus™</a>.</span>
</footer>
