---
console.log('javascript')
---

<header>
    <section class="py-24 flex items-center min-h-screen dark:bg-neutral-900">
        <div class="container mx-auto px-4">
            <div class="flex flex-col lg:flex-row items-center justify-between">
                <!-- Text Content -->

                <!-- Testimonial -->
                <div class="max-w-xl">
                    <div class=" dark:bg-gray-800 p-7 px-20 rounded-lg shadow-x8">
                        <p class="text-lg">
                            Alexis Damián
                        </p>
                        <!-- -->
                        <div class="flex mt-4 justify-end">
                            <div class="w-14 h-14 mr-4 md:w-16 md:h-16">
                                <img class="rounded-full transform hover:rotate-180 transition duration-100 ease-in-out" src="file.jpeg" alt="Alexis Damían">
                            </div>
                            <div class="md:text-lg">
                                <div class="flex flex-row">
                                    <p class="font-semibold mr-2">
                                        (aka:Malkov)
                                    </p>
                                    <div class="flex gap-3">
                                        <a href="https://twitter.com/Navaiklam" class="dark:hover:text-blue-500 transition-colors duration-75" target="https://twitter.com/Navaiklam">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                    </div>                        
                                </div>
    
                                <p class=" text-sm">
                                    CEO | <!-- Job Title -->
                                    <a href="#" class="hover:underline hover:cursor-pointer hover:text-blue-500 transition-colors duration-75">
                                        OCTOPUS Cybersecurity <!-- Company -->
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="mb-8 lg:mb-0 lg:w-1/2">
                    <h2 class="text-3xl font-semibold mb-2">Puedes seguirme por las redes, (alias) <span class="text-blue-700 underline underline-offset-4"> Malkov</span> con los siguientes links . </h2>
                      <!-- Social Icons -->
                      <div class="flex justify-center items-center gap-3 pb-8 mt-2">
                        <a href="https://www.instagram.com/" class="dark:hover:text-blue-500 transition-colors duration-75" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://github.com/Navaiklam" class="dark:hover:text-blue-500 transition-colors duration-75" target="https://github.com/Navaiklam">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>  
                    <p class="font-light">Desde los primeros pasos en el mundo de la informática a los 10 años, mi fascinación por la tecnología ha sido una constante a lo largo de mi vida. Mi primer encuentro con la informática se produjo con un Commodore 64K, marcando el inicio de un viaje que ha definido mi trayectoria profesional.</p>
                    <p class="font-light pt-2">Con más de dos décadas de experiencia en el campo de la informática, he tenido el privilegio de trabajar para destacadas empresas multinacionales como Telefónica Tech, Bit2Me, Tecnek, y otras, contribuyendo significativamente a mi desarrollo y conocimientos en el sector.</p>
                    <p class="font-light pt-2">Esta apasionante travesía ha sido una fuente constante de aprendizaje y crecimiento, moldeando mi compromiso con la innovación y la excelencia en cada proyecto. Estoy entusiasmado por continuar explorando nuevas oportunidades y desafíos en el siempre dinámico mundo de la tecnología.</p>

                    
                  
                </div>          
            </div>
         
        </div>
        
    </section>
    
</header>